<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/Randy Proctor Cropped.png" alt="What appears to be a picture of Randy Proctor">
        <p>This site was developed by Randy Proctor - a full-stack developer from Cincinnati, Ohio.</p>
        <p>This site is part of an exercise in using Node.js and Express.</p>
        <p>Geo Location API services are provided by <a href="https://www.mapbox.com/">mapbox</a>.</p>
        <p>Weather API services are provided by <a href="https://weatherstack.com/">weatherstack</a>.</p>
    </div>
    {{>footer}}
</body>
</html>