<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/Randy Proctor Cropped.png" alt="What appears to be a picture of Randy Proctor">
        <p>Randy Proctor is a full-stack developer from Cincinnati, Ohio, US.</p>
        <p>This page is part of an exercise in using Node.js and Express.</p>
        <p>Front-end templating uses hbs, although Randy will likely continue to use Vue.js and React in the future.</p>
    </div>
    {{>footer}}
</body>
</html>