<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this search to get an up-to-date weather report.</p>        
        <p>Type any location in the world!</p>

        <form action="">
            <input placeholder="Location" type="text">
            <button>Search</button>
        </form>
        <p id="loadingMessage"></p>
        <p id="errorMessage"></p>
        <p id="responseMessageLocation"></p>
        <img id="responseMessageWeatherIcon" src="" alt="">
        <p id="responseMessageWeatherDescription"></p>
        <p id="responseMessageTemperature"></p>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>